/* 	中间内容 */
#goods{
	 /*   margin-bottom: 80px; */
}
#goods-top {
	padding-top: 50px;
	text-align: center;
	
}
#goods-top h3{
	font-size: 26px;
	font-family: "宋体";
	font-weight: normal;
	
}
#goods-top b{
	display: block;
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 30px;	
	font-family: raleway;
}
#goods-top .icon{
	    color: #adadad;
}
/* 第一个图片内容 */
#goods-1{
	/* height: 1050px; */
	    width: 70%;
	border: 1px solid #8d9095;
	margin: 0 auto;
	margin-top: 30px;
	    padding-bottom: 23px;
}

#goods-1 #good-1-tu{
height: 300px;
width: 1207px;
}

#goods-1 #good-1-tu img{
	width: 100%;
}
#goods-content a{
	height: 77px;
display: block;
text-align: center;
line-height: 20px;
line-height: 30px;
    padding-top: 10px;
}
#goods-content span{
	   display: block;
	color: #000000;
	font-size: 26px;
	font-family: "宋体";
}

#goods-content span p{
	display: inline;
 color: rgb(178, 34, 34);;	
}

#goods-content a b{
      color: #000000;
      font-size: 13px;
      font-family: raleway;
      letter-spacing: 4px;
}


/* #goods-bottom{
	height: 680px;
} */

#goods-bottom ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}
#goods-bottom ul li {
width: 24%;
    overflow: hidden;
}
#goods-bottom ul li img{
	    width: 100%;
	transition: all 0.5s;
}
.goods-tao{
	overflow: hidden;
}
#goods-bottom ul li:hover img {
            transform: scale(1.2);
        }
		
#goods-bottom ul li b{
	font-weight: normal;
	color:  #adadad;
	display: block;
	text-align: center;
	    line-height: 32px;
}
#goods-bottom ul li p{
 line-height: 32px;
	text-align: center;
	font-family: Raleway;
    font-weight: normal;
}








.password{
	margin: 0 auto;
	width: 70%;
	border-top: 1px solid black;
	padding-top: 70px;
}

.account{
	
	text-align: center;
	color: #696969;
}



.landing{
	height: 246px;
    max-width: 480px;
    width: 100%;	
	border: 1px solid black;
	margin: 70px auto;
}


.landing input{
	height: 30px;
	background-color: #f5f5f5;
}

.landing .landing-1 span{
	    margin-left: 10px;
	      margin-right: 205px;
}

.landing div{
	margin-top: 10px;
}

.landing .landing-2 span {
	    margin-left: 10px;
	   margin-right: 189px;
}
.landing-3{
    margin-left: 200px;
	font-size: 13px;

}
.landing-3 input{
float: left;
    width: 30px;
    height: 16px;
}

.login-footer{
	width: 70%;
	margin: 0 auto;
	padding-bottom: 70px;
	
}
.landing-4 span{
	margin-left: 10px;
    margin-right: 243px;
	font-size: 13px;

}
.landing-5 span{
	margin-left: 10px;
  margin-right: 243px;
	font-size: 13px;

}

.landing-5  p {
	display: block;
	margin-left: 284px;
	margin-right: 4px;
}
.landing-5 .dengluge{
	 display: block;
    margin-left: 284px;
    margin-right: 4px;
	
}
 .landing-4 .dengluge{
 	 display: block;
     margin-left: 284px;
     margin-right: 4px;
 	
 } 
